<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{0,0},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{416,0},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{832,0},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{1248,0},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{0,454},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{416,454},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{832,454},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{1248,454},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{0,908},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{416,908},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{832,908},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{1248,908},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{0,1362},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,454}</string>
                <key>spriteSourceSize</key>
                <string>{416,454}</string>
                <key>textureRect</key>
                <string>{{416,1362},{416,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>girl_jump2.png</string>
            <key>size</key>
            <string>{1664,1816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8b62451bbcc4b9dc773a066b560e15:bc766bcfc0606d34b68fa2d6afca793d:315b80b38bf05ef13c0297bbe4b949e1$</string>
            <key>textureFileName</key>
            <string>girl_jump2.png</string>
        </dict>
    </dict>
</plist>
